<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="stylesheets/style.css"  title="no title" charset="utf-8">
  </script>
</head>

<body>

    <div class="container">
        <h1><%= title %></h1>
        <p class="lead">Közös tanuláshoz partnerkeresést segítő alkalmazás.<p>
    </div>

    <div class="container">
      <div class="row">
        <section class="content">
          <div class="col-lg-2 col-md-3">

          <div class="profile-sidebar">
            <!-- SIDEBAR USERPIC -->
            <div class="row">
            <div class="profile-userpic col-xs-offset-3 col-xs-6 col-sm-offset-4 col-sm-4 col-md-offset-0 col-md-12">
              <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="img-responsive" alt="">
            </div>
            </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
              <div class="profile-usertitle-name">
                <%= profile_name %>
              </div>
              <div class="profile-usertitle-job">
                Tanuló
              </div>
            </div>
            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR MENU -->
            <div class="profile-usermenu">
              <ul class="nav">
                <li class="active">
                  <a href="index.html">
                  <i class="glyphicon glyphicon-home"></i>
                  Kezdőlap </a>
                </li>
                <li>
                  <a href="elozmenyek.html">
                  <i class="glyphicon glyphicon-calendar"></i>
                  Előzményeim </a>
                </li>
                <li>
                  <a href="beallitasok.html">
                  <i class="glyphicon glyphicon-user"></i>
                  Beállítások </a>
                </li>
                <li>
                  <a href="#">
                  <i class="glyphicon glyphicon-log-out"></i>
                  Kijelentkezés </a>
                </li>
                <li>
                  <a href="sugo.html">
                  <i class="glyphicon glyphicon-question-sign"></i>
                  Sugó </a>
                </li>
              </ul>
            </div>
            <!-- END MENU -->
          </div>
          <br>
                <div class="panel panel-default">
                    <div class="panel-body">

                <div class="profile-usertitle-name">Hírek</div>
                <ul class="media-list">
                  <li class="media">
                      <div class="media-body">
                          <span class="text-muted pull-right">
                              <small class="text-muted">30 min ago</small>
                          </span>
                          <strong class="text-info">@tanulo</strong>
                          <p>
                              Lorem ipsum dolor <a href="#"># sit amet</a> sit amet, consectetur adipiscing elit.
                          </p>
                      </div>
                  </li>    <li class="media">
                          <div class="media-body">
                              <span class="text-muted pull-right">
                                  <small class="text-muted">1 day ago</small>
                              </span>
                              <strong class="text-info">@tanulo</strong>
                              <p>
                                Elkeszult a reszletes specifikacio.
                              </p>
                          </div>
                      </li>
                </ul>
                <a href="#" class="btn btn-primary btn-block">Tovabbi tweetek</a>
            </div>
            </div>
          </div>
