<% layout('../../layout/main') -%>

<div class="col-lg-10 col-md-9">

    <div class="panel panel-default">
        <div class="panel-body">
            <h2><%= userData.name %></h2>
            <%= userData.email %>
        </div>
    </div>

</div>