<%- include('../../partials/header'); %>

<!-- BODY HERE -->

          <div class="col-lg-10 col-md-9">


            <div class="panel panel-default">
              <div class="panel-body">

              <h2>Új csoport</h2>
              <form method="POST" action="/csoport/add">
                <fieldset class="form-group">
                  <label for="name">Név</label>
                    <input class="form-control input-lg" type="text" name="name" placeholder="Példa Péter">
                  </select>
                </fieldset>
                  <fieldset class="form-group">
                      <label for="subject">Tárgy</label>
                      <input class="form-control input-lg" type="text" name="subject" placeholder="Analízis I.">
                      </select>
                  </fieldset>
                <fieldset class="form-group">
                    <label for="start_date">Kezdés</label>
                      <input class="form-control input-lg" type="datetime" name="start_date" placeholder="1999-01-08 04:05:06">
                    </select>
                </fieldset>
                <fieldset class="form-group">
                    <label for="end_date">Befejezés</label>
                      <input class="form-control input-lg" type="datetime" name="end_date" placeholder="1999-01-08 04:05:06">
                    </select>
                  </fieldset>
                  <fieldset class="form-group">
                      <label for="room">Tanuló</label>
                      <select id="room" name="room" size="1">
                          <% for(var i = 3; i<=18;i++) { %>
                          <option value = <%= i %>> <%=i %> </option>
                          <% } %>
                      </select>
                  </fieldset>
                <fieldset class="form-group">
                  <label for="comment">Leírás</label>
                  <textarea class="form-control input-lg" rows="3" name="description"></textarea>
                </fieldset>
                <div class="pull-right">
                    <button type="submit" class="btn btn-success">Új csoport létrehozása</button>
                  </div>
              </form>
            </div>
          </div>

    <!-- BODY END -->
<%- include('../../partials/footer'); %>
