<%- include('../../partials/header'); %>

<!-- BODY HERE -->

          <div class="col-lg-10 col-md-9">


            <div class="panel panel-default">
              <div class="panel-body">


                      <h2><%= group.group_name %></h2>
                      </span>
                              <p class="summary"><%= group.description %></p>
                            </div>
                          </div>




              </div>
    <!-- BODY END -->
<%- include('../../partials/footer'); %>
