<% layout('layout/main') -%>

<div class="col-lg-10 col-md-9">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Tanuló szobák</h2>
            <hr>
            <ul>
                <% for(var i = 3; i <= 18; i++) { var color = "green"; %>
                <% groups.forEach(function(group) { %>
                <% if (group.room == i && !group.doNotDisturb) {
                    color = "orange";

                } else if(group.room == i && group.doNotDisturb){ color = "red";}%>
                <% }); %>
                <div class="col-md-4 col-lg-4 text-center">
                    <div class="well">
                        <h2><%= i %>. emelet</h2>
                        <hr>
                        <div class="pulse" data-status="<% if(color=="red"){ %>red<% } else if(color == "green"){ %>green<% } else{ %>yellow<%}%>">
                            <div class="status">
                            </div>
                        </div>

                        <a href="tanulo/<%= i %>" class="btn btn-default">Megnyitás</a>

                    </div>

                </div>

                <% } %>
            </ul>
        </div>
    </div>
</div>
</div>
</body>
</html>
