<% layout('../../layout/main') -%>

<link href="/fullcalendar/fullcalendar.css" rel="stylesheet">
<script src="/fullcalendar/moment.min.js"></script>
<script src="/fullcalendar/jquery.min.js"></script>
<script src="/fullcalendar/fullcalendar.min.js"></script>

    <div class="col-lg-10 col-md-9">
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <section class="content">
                    <div id='calendar'></div>
                </section>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var roomNumber = window.location.pathname.substr(window.location.pathname.length - 1);

            $.ajax({
                url: "http://localhost:3000/tanulo/" + roomNumber + "/event",
                type: "GET",
                data: {
                    id: roomNumber
                },
                dataType: "json",
                success: function (response) {
                    console.log('Server response: ' + response);
                    $('#calendar').fullCalendar({
                        locale: 'hu',
                        firstDay: 1,
                        defaultView: 'agendaWeek',
                        editable: false,
                        header: {
                            right: 'agendaDay agendaWeek month'
                        },
                        events: response,
                        eventClick: function (calEvent, jsEvent, view) {
                            location.href = ('/csoportok/' + calEvent.groupId);
                        },
                        selectable: true,
                        selectHelper: true,
                        select: function (start, end) {
                            location.href = '/csoportok/uj?start=' + start + '&end=' + end + '&roomId=' + roomNumber;
                        },
                    })
                }
            });
        });
    </script>