<% layout('../../layout/main') %>

<script src="/bower_components/moment/min/moment.min.js"></script>
<script src="/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="/bower_components/fullcalendar/dist/locale/hu.js"></script>
<link href="/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">

    <div class="col-lg-10 col-md-9">
        <div class="panel panel-default">
            <h1><span id="roomNumber">N</span>. Tanuló</h1>
            <div class="panel-body text-center">
                <section class="content">
                    <div id='calendar'></div>
                </section>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var array = window.location.pathname.split('/');
            var roomNumber = array.pop();
            $("#roomNumber").text(roomNumber);

            $.ajax({
                url: "/tanuloszobak/" + roomNumber + "/event",
                type: "GET",
                data: {
                    id: roomNumber
                },
                dataType: "json",
                success: function (response) {
                    $('#calendar').fullCalendar({
                        locale: 'hu',
                        firstDay: 1,
                        defaultView: 'agendaWeek',
                        editable: false,
                        header: {
                            right: 'agendaDay agendaWeek month'
                        },
                        events: response,
                        eventClick: function (calEvent, jsEvent, view) {
                            location.href = ('/csoportok/' + calEvent.groupId);
                        },
                        selectable: true,
                        selectHelper: true,
                        select: function (start, end) {
                            location.href = '/csoportok/uj?start=' + start + '&end=' + end + '&roomId=' + roomNumber;
                        },
                    })
                }
            });
        });
    </script>