<% layout('../../layout/error-layout') -%>

    <div class="container">


      <h1>TanuloSCH</h1>
      <hr>
      <div class="panel panel-default">
        <div class="panel-body text-center">
        <h3>ERROR<h3>
        <hr>
        <h4>Az oldal megtekintéséhez bejelentkezés szükséges!</h4>
        <form action="/auth/login" method="POST">
            <button type="submit" name="button" class="login btn btn-lg btn-success">Bejelentkezés AuthSch fiókkal
            </button>
        </form>
        <img src="https://cdn3.iconfinder.com/data/icons/minimal-1/110/Face-2-512.png" alt="" />
      </div>
      </div>

    </div>
