<!DOCTYPE html>
<html>
<head>
    <link href="../fullcalendar/fullcalendar.css" rel="stylesheet">
    <script src="../fullcalendar/moment.min.js"></script>
    <script src="../fullcalendar/jquery.min.js"></script>
    <script src="../fullcalendar/fullcalendar.min.js"></script>
</head>
<body>
<div id='calendar'></div>
</body>

<% if (event) { %>
<h2>I have a game state!</h2>
<script>
    var clientGameState = <%= event %>
</script>
<% } %>

<script>
    $(document).ready(function () {


            $('#calendar').fullCalendar({
            editable: false,
            header: {
                right: 'agendaDay agendaWeek month'
            },
            events: eventObj

        });
    });
</script>
</html>