<!DOCTYPE html>
<html>
<head>
    <link href="../fullcalendar/fullcalendar.css" rel="stylesheet">
    <script src="../fullcalendar/moment.min.js"></script>
    <script src="../fullcalendar/jquery.min.js"></script>
    <script src="../fullcalendar/fullcalendar.min.js"></script>
</head>
<body>
<div id='calendar'></div>
</body>


<script>
    $(document).ready(function () {

        var roomNumber = window.location.pathname.substr(window.location.pathname.length - 1);
        console.log("roomnunm" + roomNumber);
        $.ajax({
            url: "http://localhost:3000/tanulo/" + roomNumber + "/event",
            type: "GET",
            data: {
                id: roomNumber
            },
            dataType: "json",
            success: function (response) {
                console.log('Server response: ' + response);
                $('#calendar').fullCalendar({
                    editable: false,
                    header: {
                        right: 'agendaDay agendaWeek month'
                    },
                    events: response
                })
            }

        });
    });
</script>
</html>