<!DOCTYPE html>
<html>
<head>
    <link href="../fullcalendar/fullcalendar.css" rel="stylesheet">
    <script src="../fullcalendar/moment.min.js"></script>
    <script src="../fullcalendar/jquery.min.js"></script>
    <script src="../fullcalendar/fullcalendar.min.js"></script>
</head>
<body>
<div id='calendar'></div>
</body>

<script>
$(document).ready(function() {


$('#calendar').fullCalendar({
})

});
</script>
</html>