<% layout('/layout/main') -%>

<div class="col-lg-10 col-md-9">


    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Hogy?</h2>
            <p>
                Igy.

            </p>
        </div>
    </div>
</div>