<% layout('/layout/main') -%>

<div class="col-lg-10 col-md-9">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Előzmények</h2>
            <div class="table-container">
                <table class="table table-list">
                    <tbody>

                    <tr data-status="pagado">
                        <td>
                            <div class="media">
                                <a href="#" class="pull-left">
                                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg"
                                         class="media-photo">
                                </a>
                                <div class="media-body">
                                    <span class="media-meta pull-right">Febrero 13, 2016</span>
                                    <h4 class="title">
                                        Analízis 2
                                    </h4>
                                    <p class="summary">PZH-ra készülök, de nagyon reménytelennek érzem az...</p>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr data-status="pagado">
                        <td>
                            <div class="media">
                                <a href="#" class="pull-left">
                                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg"
                                         class="media-photo">
                                </a>
                                <div class="media-body">
                                    <span class="media-meta pull-right">Febrero 13, 2016</span>
                                    <h4 class="title">
                                        Analízis 2
                                    </h4>
                                    <p class="summary">PZH-ra készülök, de nagyon reménytelennek érzem az...</p>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr data-status="pagado">
                        <td>
                            <div class="media">
                                <a href="#" class="pull-left">
                                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg"
                                         class="media-photo">
                                </a>
                                <div class="media-body">
                                    <span class="media-meta pull-right">Febrero 13, 2016</span>
                                    <h4 class="title">
                                        Analízis 2
                                    </h4>
                                    <p class="summary">PZH-ra készülök, de nagyon reménytelennek érzem az...</p>
                                </div>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <a href="" class="btn btn-block btn-primary btn-sm"><span class="glyphicon glyphicon-refresh"></span> Még több
            betöltése</a>

    </div>
</div>